In [1]:
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests

#### Bond Search Results

In [3]:
url = 'https://markets.businessinsider.com/bonds/finder?p=1&borrower=&maturity=&yield=&bondtype=6,7,8,19&coupon=&currency=&rating=&country=18'

In [4]:
page = requests.get(url)

In [5]:
page.status_code

200

In [13]:
data = pd.read_html(page.content)

In [14]:
data

[    Issuer Currency   Coupon Yield Moody's Rating Maturity Date     Bid  \
 0   000000      USD  6.5000%     -            Aa2     10/1/2034  130.00
 1   000000      NaN  7.2500%     -            Aa2     6/15/2025       -
 2   000000      USD  7.7500%     -            NaN     10/1/2022    0.10
 3   3M Co.      USD  6.3750%     -             A1     2/15/2028  126.15
 4   3M Co.      USD  2.0000%     -             A1     6/26/2022  102.45
 5   3M Co.      USD  3.0500%     -             A1     4/15/2030  116.24
 6   3M Co.      NaN  3.8750%     -             A1     6/15/2044       -
 7   3M Co.      USD  3.0000%     -             A1      8/7/2025  110.40
 8   3M Co.      USD  2.2500%     -             A1     9/19/2026  108.10
 9   3M Co.      USD  2.2500%     -             A1     3/15/2023  104.26
 10  3M Co.      USD  4.0000%     -             A1     9/14/2048  133.95
 11  3M Co.      USD  5.7000%     -             A1     3/15/2037       -
 12  3M Co.      USD  2.7500%     -             A1      3/1/2022  103.77
 13  3M Co.      USD  3.7000%     -             A1     4/15/2050  129.39
 14  3M Co.      USD  3.0000%     -             A1     9/14/2021  102.21
 15  3M Co.      USD  3.3750%     -             A1      3/1/2029  117.39
 16  3M Co.      USD  3.1250%     -             A1     9/19/2046  114.64
 17  3M Co.      USD  3.6250%     -             A1    10/15/2047  125.01
 18  3M Co.      USD  2.6500%     -             A1     4/15/2025  108.48
 19  3M Co.      USD  1.6250%     -             A1     9/19/2021  100.70

        Ask
 0        -
 1        -
 2     1.10
 3   137.96
 4   103.92
 5   116.62
 6        -
 7   111.92
 8   109.97
 9   105.77
 10  138.31
 11  129.86
 12  104.01
 13  133.16
 14  103.58
 15  118.23
 16  119.95
 17  127.95
 18  110.02
 19  101.90  ]

In [15]:
len(data)

1

In [19]:
df1 = pd.DataFrame(data[0])

In [20]:
df1

,Issuer,Currency,Coupon,Yield,Moody's Rating,Maturity Date,Bid,Ask
0,000000,USD,6.5000%,-,Aa2,10/1/2034,130.00,-
1,000000,NaN,7.2500%,-,Aa2,6/15/2025,-,-
2,000000,USD,7.7500%,-,NaN,10/1/2022,0.10,1.10
3,3M Co.,USD,6.3750%,-,A1,2/15/2028,126.15,137.96
4,3M Co.,USD,2.0000%,-,A1,6/26/2022,102.45,103.92
5,3M Co.,USD,3.0500%,-,A1,4/15/2030,116.24,116.62
6,3M Co.,NaN,3.8750%,-,A1,6/15/2044,-,-
7,3M Co.,USD,3.0000%,-,A1,8/7/2025,110.40,111.92
8,3M Co.,USD,2.2500%,-,A1,9/19/2026,108.10,109.97
9,3M Co.,USD,2.2500%,-,A1,3/15/2023,104.26,105.77
10,3M Co.,USD,4.0000%,-,A1,9/14/2048,133.95,138.31
11,3M Co.,USD,5.7000%,-,A1,3/15/2037,-,129.86
12,3M Co.,USD,2.7500%,-,A1,3/1/2022,103.77,104.01
13,3M Co.,USD,3.7000%,-,A1,4/15/2050,129.39,133.16
14,3M Co.,USD,3.0000%,-,A1,9/14/2021,102.21,103.58
15,3M Co.,USD,3.3750%,-,A1,3/1/2029,117.39,118.23
16,3M Co.,USD,3.1250%,-,A1,9/19/2046,114.64,119.95
17,3M Co.,USD,3.6250%,-,A1,10/15/2047,125.01,127.95
18,3M Co.,USD,2.6500%,-,A1,4/15/2025,108.48,110.02
19,3M Co.,USD,1.6250%,-,A1,9/19/2021,100.70,101.90

In [26]:
df1.columns

Index(['Issuer', 'Currency', 'Coupon', 'Yield', 'Moody's Rating',
       'Maturity Date', 'Bid', 'Ask'],
      dtype='object')

In [ ]:
import time
# url = 'https://markets.businessinsider.com/bonds/finder?p=1&borrower=&maturity=&yield=&bondtype=6,7,8,19&coupon=&currency=&rating=&country=18'
url_list = []
page_list = []
status_code = []
data_list = []
for thing in range (0, final page number):
    url = f'https://markets.businessinsider.com/bonds/finder?p={thing}&borrower=&maturity=&yield=&bondtype=6,7,8,19&coupon=&currency=&rating=&country=18'
    url_list.append(url)
    page = requests.get(url)
    page_list.append(page)
    psc = page.status_code
    status_code.append(psc)
    data = pd.read_html(page.content)
    data_list.append(data)
    
    time.sleep(30)

#### Yahoo Page

In [31]:
url = 'https://finance.yahoo.com/quote/MS/key-statistics?p=MS'

In [32]:
page = requests.get(url)

In [33]:
page.status_code

200

In [42]:
data = pd.read_html(page.content)

In [43]:
data

[                    Unnamed: 0 As of Date: 8/5/2020Current 6/30/2020  \
 0      Market Cap (intraday) 5                      78.48B    76.13B
 1           Enterprise Value 3                         NaN       NaN
 2                 Trailing P/E                        9.00     10.04
 3                Forward P/E 1                       10.96     12.29
 4  PEG Ratio (5 yr expected) 1                         NaN       NaN
 5            Price/Sales (ttm)                        1.93      2.05
 6             Price/Book (mrq)                        1.00      0.98
 7   Enterprise Value/Revenue 3                         NaN       NaN
 8    Enterprise Value/EBITDA 6                         NaN       NaN

   3/31/2020 12/31/2019 9/30/2019 6/30/2019
 0    53.57B     81.48B    69.28B    73.70B
 1       NaN        NaN       NaN       NaN
 2      6.55      10.89      9.28      9.39
 3      6.53       9.74      8.20      9.11
 4       NaN        NaN       NaN       NaN
 5      1.43       2.32      1.97      2.03
 6      0.73       1.10      0.95      1.01
 7       NaN        NaN       NaN       NaN
 8       NaN        NaN       NaN       NaN  ,
                           0       1
 0         Beta (5Y Monthly)    1.46
 1          52-Week Change 3  20.60%
 2   S&P500 52-Week Change 3  13.26%
 3            52 Week High 3   57.57
 4             52 Week Low 3   27.20
 5   50-Day Moving Average 3   49.30
 6  200-Day Moving Average 3   44.80,
                                                  0       1
 0                              Avg Vol (3 month) 3  12.53M
 1                               Avg Vol (10 day) 3   8.69M
 2                             Shares Outstanding 5   1.58B
 3                                            Float   1.12B
 4                             % Held by Insiders 1  24.24%
 5                         % Held by Institutions 1  62.93%
 6                    Shares Short (Jul 14, 2020) 4  57.87M
 7                     Short Ratio (Jul 14, 2020) 4    4.55
 8                Short % of Float (Jul 14, 2020) 4   4.84%
 9   Short % of Shares Outstanding (Jul 14, 2020) 4   3.67%
 10       Shares Short (prior month Jun 14, 2020) 4  61.73M,
                                   0             1
 0    Forward Annual Dividend Rate 4           1.4
 1   Forward Annual Dividend Yield 4         2.81%
 2   Trailing Annual Dividend Rate 3          1.40
 3  Trailing Annual Dividend Yield 3         2.81%
 4   5 Year Average Dividend Yield 4          2.26
 5                    Payout Ratio 4        25.32%
 6                   Dividend Date 3  Aug 13, 2020
 7                Ex-Dividend Date 4  Jul 29, 2020
 8               Last Split Factor 2           2:1
 9                 Last Split Date 3  Jan 26, 2000,
                            0             1
 0           Fiscal Year Ends  Dec 30, 2019
 1  Most Recent Quarter (mrq)  Jun 29, 2020,
                         0       1
 0           Profit Margin  21.25%
 1  Operating Margin (ttm)  34.04%,
                         0       1
 0  Return on Assets (ttm)   1.02%
 1  Return on Equity (ttm)  11.17%,
                                  0       1
 0                    Revenue (ttm)  43.79B
 1          Revenue Per Share (ttm)   27.93
 2   Quarterly Revenue Growth (yoy)  30.90%
 3               Gross Profit (ttm)  36.73B
 4                           EBITDA     NaN
 5   Net Income Avi to Common (ttm)   8.78B
 6                Diluted EPS (ttm)    5.52
 7  Quarterly Earnings Growth (yoy)  45.20%,
                             0        1
 0            Total Cash (mrq)  610.67B
 1  Total Cash Per Share (mrq)   387.29
 2            Total Debt (mrq)  318.99B
 3     Total Debt/Equity (mrq)   362.45
 4         Current Ratio (mrq)     1.86
 5  Book Value Per Share (mrq)    49.57,
                               0       1
 0     Operating Cash Flow (ttm)  20.23B
 1  Levered Free Cash Flow (ttm)     NaN]

In [45]:
data[0]

,Unnamed: 0,As of Date: 8/5/2020Current,6/30/2020,3/31/2020,12/31/2019,9/30/2019,6/30/2019
0,Market Cap (intraday) 5,78.48B,76.13B,53.57B,81.48B,69.28B,73.70B
1,Enterprise Value 3,NaN,NaN,NaN,NaN,NaN,NaN
2,Trailing P/E,9.00,10.04,6.55,10.89,9.28,9.39
3,Forward P/E 1,10.96,12.29,6.53,9.74,8.20,9.11
4,PEG Ratio (5 yr expected) 1,NaN,NaN,NaN,NaN,NaN,NaN
5,Price/Sales (ttm),1.93,2.05,1.43,2.32,1.97,2.03
6,Price/Book (mrq),1.00,0.98,0.73,1.10,0.95,1.01
7,Enterprise Value/Revenue 3,NaN,NaN,NaN,NaN,NaN,NaN
8,Enterprise Value/EBITDA 6,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
len(data)

10

In [56]:
df_y = pd.DataFrame(data[0])

In [57]:
df_y

,Unnamed: 0,As of Date: 8/5/2020Current,6/30/2020,3/31/2020,12/31/2019,9/30/2019,6/30/2019
0,Market Cap (intraday) 5,78.48B,76.13B,53.57B,81.48B,69.28B,73.70B
1,Enterprise Value 3,NaN,NaN,NaN,NaN,NaN,NaN
2,Trailing P/E,9.00,10.04,6.55,10.89,9.28,9.39
3,Forward P/E 1,10.96,12.29,6.53,9.74,8.20,9.11
4,PEG Ratio (5 yr expected) 1,NaN,NaN,NaN,NaN,NaN,NaN
5,Price/Sales (ttm),1.93,2.05,1.43,2.32,1.97,2.03
6,Price/Book (mrq),1.00,0.98,0.73,1.10,0.95,1.01
7,Enterprise Value/Revenue 3,NaN,NaN,NaN,NaN,NaN,NaN
8,Enterprise Value/EBITDA 6,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
df_y.transpose()

,0,1,2,3,4,5,6,7,8
Unnamed: 0,Market Cap (intraday) 5,Enterprise Value 3,Trailing P/E,Forward P/E 1,PEG Ratio (5 yr expected) 1,Price/Sales (ttm),Price/Book (mrq),Enterprise Value/Revenue 3,Enterprise Value/EBITDA 6
As of Date: 8/5/2020Current,78.48B,NaN,9.00,10.96,NaN,1.93,1.00,NaN,NaN
6/30/2020,76.13B,NaN,10.04,12.29,NaN,2.05,0.98,NaN,NaN
3/31/2020,53.57B,NaN,6.55,6.53,NaN,1.43,0.73,NaN,NaN
12/31/2019,81.48B,NaN,10.89,9.74,NaN,2.32,1.10,NaN,NaN
9/30/2019,69.28B,NaN,9.28,8.20,NaN,1.97,0.95,NaN,NaN
6/30/2019,73.70B,NaN,9.39,9.11,NaN,2.03,1.01,NaN,NaN

In [93]:
pd.DataFrame(data[0]).transpose()

,0,1,2,3,4,5,6,7,8
Unnamed: 0,Market Cap (intraday) 5,Enterprise Value 3,Trailing P/E,Forward P/E 1,PEG Ratio (5 yr expected) 1,Price/Sales (ttm),Price/Book (mrq),Enterprise Value/Revenue 3,Enterprise Value/EBITDA 6
As of Date: 8/5/2020Current,78.48B,NaN,9.00,10.96,NaN,1.93,1.00,NaN,NaN
6/30/2020,76.13B,NaN,10.04,12.29,NaN,2.05,0.98,NaN,NaN
3/31/2020,53.57B,NaN,6.55,6.53,NaN,1.43,0.73,NaN,NaN
12/31/2019,81.48B,NaN,10.89,9.74,NaN,2.32,1.10,NaN,NaN
9/30/2019,69.28B,NaN,9.28,8.20,NaN,1.97,0.95,NaN,NaN
6/30/2019,73.70B,NaN,9.39,9.11,NaN,2.03,1.01,NaN,NaN

In [94]:
pd.DataFrame(data[1]).transpose()

,0,1,2,3,4,5,6
0,Beta (5Y Monthly),52-Week Change 3,S&P500 52-Week Change 3,52 Week High 3,52 Week Low 3,50-Day Moving Average 3,200-Day Moving Average 3
1,1.46,20.60%,13.26%,57.57,27.20,49.30,44.80

In [95]:
pd.DataFrame(data[2]).transpose()

,0,1,2,3,4,5,6,7,8,9,10
0,Avg Vol (3 month) 3,Avg Vol (10 day) 3,Shares Outstanding 5,Float,% Held by Insiders 1,% Held by Institutions 1,"Shares Short (Jul 14, 2020) 4","Short Ratio (Jul 14, 2020) 4","Short % of Float (Jul 14, 2020) 4","Short % of Shares Outstanding (Jul 14, 2020) 4","Shares Short (prior month Jun 14, 2020) 4"
1,12.53M,8.69M,1.58B,1.12B,24.24%,62.93%,57.87M,4.55,4.84%,3.67%,61.73M

In [96]:
pd.DataFrame(data[3]).transpose()

,0,1,2,3,4,5,6,7,8,9
0,Forward Annual Dividend Rate 4,Forward Annual Dividend Yield 4,Trailing Annual Dividend Rate 3,Trailing Annual Dividend Yield 3,5 Year Average Dividend Yield 4,Payout Ratio 4,Dividend Date 3,Ex-Dividend Date 4,Last Split Factor 2,Last Split Date 3
1,1.4,2.81%,1.40,2.81%,2.26,25.32%,"Aug 13, 2020","Jul 29, 2020",2:1,"Jan 26, 2000"

In [97]:
pd.DataFrame(data[4]).transpose()

                  0                          1
0  Fiscal Year Ends  Most Recent Quarter (mrq)
1      Dec 30, 2019               Jun 29, 2020

In [98]:
pd.DataFrame(data[5]).transpose()

               0                       1
0  Profit Margin  Operating Margin (ttm)
1         21.25%                  34.04%

In [99]:
pd.DataFrame(data[6]).transpose()

                        0                       1
0  Return on Assets (ttm)  Return on Equity (ttm)
1                   1.02%                  11.17%

In [100]:
pd.DataFrame(data[7]).transpose()

,0,1,2,3,4,5,6,7
0,Revenue (ttm),Revenue Per Share (ttm),Quarterly Revenue Growth (yoy),Gross Profit (ttm),EBITDA,Net Income Avi to Common (ttm),Diluted EPS (ttm),Quarterly Earnings Growth (yoy)
1,43.79B,27.93,30.90%,36.73B,NaN,8.78B,5.52,45.20%

In [101]:
pd.DataFrame(data[8]).transpose()

,0,1,2,3,4,5
0,Total Cash (mrq),Total Cash Per Share (mrq),Total Debt (mrq),Total Debt/Equity (mrq),Current Ratio (mrq),Book Value Per Share (mrq)
1,610.67B,387.29,318.99B,362.45,1.86,49.57

In [106]:
pd.DataFrame(data[9]).transpose()

                           0                             1
0  Operating Cash Flow (ttm)  Levered Free Cash Flow (ttm)
1                     20.23B                           NaN

In [ ]:
# url = 'https://finance.yahoo.com/quote/MS/key-statistics?p=MS'
url_list = []
page_list = []
status_code = []
data_list = []
ticker_list = list of tickers taken from russell 1000 excel sheet
for thing in ticker_list:
    url = f'https://finance.yahoo.com/quote/{thing}/key-statistics?p=MS'
    url_list.append(url)
    page = requests.get(url)
    page_list.append(page)
    psc = page.status_code
    status_code.append(psc)
    data = pd.read_html(page.content)
    data_list.append(data)
    
    time.sleep(30)

#### Trying it with the Yahoo Finance API Call

In [3]:
# pip install yfinance --upgrade --no-cache-dir

Collecting yfinance
  Downloading https://files.pythonhosted.org/packages/c2/31/8b374a12b90def92a4e27d0fc595fc43635f395984e36a075244d98bd265/yfinance-0.1.54.tar.gz
Requirement already satisfied, skipping upgrade: pandas>=0.24 in /opt/anaconda3/lib/python3.7/site-packages (from yfinance) (1.0.3)
Requirement already satisfied, skipping upgrade: numpy>=1.15 in /opt/anaconda3/lib/python3.7/site-packages (from yfinance) (1.17.2)
Requirement already satisfied, skipping upgrade: requests>=2.20 in /opt/anaconda3/lib/python3.7/site-packages (from yfinance) (2.23.0)
Collecting multitasking>=0.0.7 (from yfinance)
  Downloading https://files.pythonhosted.org/packages/69/e7/e9f1661c28f7b87abfa08cb0e8f51dad2240a9f4f741f02ea839835e6d18/multitasking-0.0.9.tar.gz
Requirement already satisfied, skipping upgrade: python-dateutil>=2.6.1 in /opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.24->yfinance) (2.8.0)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.24->yfinance) (2019.3)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in /opt/anaconda3/lib/python3.7/site-packages (from requests>=2.20->yfinance) (2.8)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/anaconda3/lib/python3.7/site-packages (from requests>=2.20->yfinance) (1.24.2)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in /opt/anaconda3/lib/python3.7/site-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.7/site-packages (from requests>=2.20->yfinance) (2019.9.11)
Requirement already satisfied, skipping upgrade: six>=1.5 in /opt/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas>=0.24->yfinance) (1.12.0)
Building wheels for collected packages: yfinance, multitasking
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.54-py2.py3-none-any.whl size=22411 sha256=ebcc94e7e99d107bdbf2a511dcaf48320c3c0d6e59dc95b986fc3788bc22023e
  Stored in directory: /private/var/folders/9v/4j4998jd5sq3km39z5by94vw0000gn/T/pip-ephem-wheel-cache-if19d61v/wheels/f9/e3/5b/ec24dd2984b12d61e0abf26289746c2436a0e7844f26f2515c
  Building wheel for multitasking (setup.py) ... done
  Created wheel for multitasking: filename=multitasking-0.0.9-cp37-none-any.whl size=8368 sha256=48ebb1c041b98fe00d6777acbd1e8f894465185bf916558388960551afc54e0c
  Stored in directory: /private/var/folders/9v/4j4998jd5sq3km39z5by94vw0000gn/T/pip-ephem-wheel-cache-if19d61v/wheels/37/fa/73/d492849e319038eb4d986f5152e4b19ffb1bc0639da84d2677
Successfully built yfinance multitasking
Installing collected packages: multitasking, yfinance
Successfully installed multitasking-0.0.9 yfinance-0.1.54
Note: you may need to restart the kernel to use updated packages.

In [4]:
import yfinance as yf

In [45]:
msft = yf.Ticker("MSFT")

In [46]:
msft.info

{'zip': '98052',
 'sector': 'Technology',
 'fullTimeEmployees': 163000,
 'longBusinessSummary': 'Microsoft Corporation develops, licenses, and supports software, services, devices, and solutions worldwide. Its Productivity and Business Processes segment offers Office, Exchange, SharePoint, Microsoft Teams, Office 365 Security and Compliance, and Skype for Business, as well as related Client Access Licenses (CAL); Skype, Outlook.com, and OneDrive; LinkedIn that includes Talent, Learning, Sales, and Marketing solutions, as well as premium subscriptions; and Dynamics 365, a set of cloud-based and on-premises business solutions for small and medium businesses, large organizations, and divisions of enterprises. Its Intelligent Cloud segment licenses SQL and Windows Servers, Visual Studio, System Center, and related CALs; GitHub that provides a collaboration platform and code hosting service for developers; and Azure, a cloud platform. It also offers support services and Microsoft consulting services to assist customers in developing, deploying, and managing Microsoft server and desktop solutions; and training and certification to developers and IT professionals on various Microsoft products. Its More Personal Computing segment provides Windows original equipment manufacturer (OEM) licensing and other non-volume licensing of the Windows operating system; Windows Commercial, such as volume licensing of the Windows operating system, Windows cloud services, and other Windows commercial offerings; patent licensing; Windows Internet of Things; and MSN advertising. It also offers Surface, PC accessories, PCs, tablets, gaming and entertainment consoles, and other intelligent devices; Gaming, including Xbox hardware, and Xbox content and services; video games and third-party video game royalties; and Search, including Bing and Microsoft advertising. It sells its products through OEMs, distributors, and resellers; and directly through digital marketplaces, online stores, and retail stores. The company was founded in 1975 and is headquartered in Redmond, Washington.',
 'city': 'Redmond',
 'phone': '425-882-8080',
 'state': 'WA',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'http://www.microsoft.com',
 'maxAge': 1,
 'address1': 'One Microsoft Way',
 'fax': '425-706-7329',
 'industry': 'Software—Infrastructure',
 'previousClose': 212.48,
 'regularMarketOpen': 211.67,
 'twoHundredDayAverage': 181.05688,
 'trailingAnnualDividendYield': 0.009600904,
 'payoutRatio': 0.3455,
 'volume24Hr': None,
 'regularMarketDayHigh': 211.57,
 'navPrice': None,
 'averageDailyVolume10Day': 44802683,
 'totalAssets': None,
 'regularMarketPreviousClose': 212.48,
 'fiftyDayAverage': 206.65617,
 'trailingAnnualDividendRate': 2.04,
 'open': 211.67,
 'toCurrency': None,
 'averageVolume10days': 44802683,
 'expireDate': None,
 'yield': None,
 'algorithm': None,
 'dividendRate': 2.04,
 'exDividendDate': 1597795200,
 'beta': 0.903846,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 206.35,
 'priceHint': 2,
 'currency': 'USD',
 'trailingPE': 36.074062,
 'regularMarketVolume': 19325378,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 1572456235008,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 35617274,
 'priceToSalesTrailing12Months': 10.995044,
 'dayLow': 206.35,
 'ask': 207.88,
 'ytdReturn': None,
 'askSize': 900,
 'volume': 19325378,
 'fiftyTwoWeekHigh': 217.64,
 'forwardPE': 28.308802,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 1.87,
 'fiftyTwoWeekLow': 132.25,
 'bid': 207.9,
 'tradeable': False,
 'dividendYield': 0.0095999995,
 'bidSize': 1400,
 'dayHigh': 211.57,
 'exchange': 'NMS',
 'shortName': 'Microsoft Corporation',
 'longName': 'Microsoft Corporation',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-14400000',
 'quoteType': 'EQUITY',
 'symbol': 'MSFT',
 'messageBoardId': 'finmb_21835',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 10.863,
 'beta3Year': None,
 'profitMargins': 0.30962,
 'enterpriseToEbitda': 23.807,
 '52WeekChange': 0.56476915,
 'morningStarRiskRating': None,
 'forwardEps': 7.34,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 7567649792,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'bookValue': 15.626,
 'sharesShort': 39894144,
 'sharesPercentSharesOut': 0.0053,
 'fundFamily': None,
 'lastFiscalYearEnd': 1593475200,
 'heldPercentInstitutions': 0.74093,
 'netIncomeToCommon': 44280999936,
 'trailingEps': 5.76,
 'lastDividendValue': None,
 'SandP52WeekChange': 0.16254902,
 'priceToBook': 13.297491,
 'heldPercentInsiders': 0.014249999,
 'nextFiscalYearEnd': 1656547200,
 'mostRecentQuarter': 1593475200,
 'shortRatio': 1.19,
 'sharesShortPreviousMonthDate': 1592179200,
 'floatShares': 7446494812,
 'enterpriseValue': 1553592877056,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1045526400,
 'lastSplitFactor': '2:1',
 'legalType': None,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': -0.151,
 'dateShortInterest': 1594771200,
 'pegRatio': 2.23,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.0053,
 'sharesShortPriorMonth': 42930465,
 'category': None,
 'fiveYearAverageReturn': None,
 'regularMarketPrice': 211.67,
 'logo_url': 'https://logo.clearbit.com/microsoft.com'}

In [30]:
hist = msft.history(period="max")
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1986-03-13,0.06,0.06,0.06,0.06,1031788800,0.0,0.0
1986-03-14,0.06,0.07,0.06,0.06,308160000,0.0,0.0
1986-03-17,0.06,0.07,0.06,0.07,133171200,0.0,0.0
1986-03-18,0.07,0.07,0.06,0.06,67766400,0.0,0.0
1986-03-19,0.06,0.06,0.06,0.06,47894400,0.0,0.0
...,...,...,...,...,...,...,...
2020-08-04,214.17,214.77,210.31,213.29,49280100,0.0,0.0
2020-08-05,214.90,215.00,211.57,212.94,28858600,0.0,0.0
2020-08-06,212.34,216.37,211.55,216.35,32656800,0.0,0.0
2020-08-07,214.85,215.70,210.93,212.48,27789600,0.0,0.0
2020-08-10,211.67,211.57,206.35,207.88,18895197,0.0,0.0

In [31]:
msft.actions

            Dividends  Stock Splits
Date
1987-09-21       0.00           2.0
1990-04-16       0.00           2.0
1991-06-27       0.00           1.5
1992-06-15       0.00           1.5
1994-05-23       0.00           2.0
...               ...           ...
2019-05-15       0.46           0.0
2019-08-14       0.46           0.0
2019-11-20       0.51           0.0
2020-02-19       0.51           0.0
2020-05-20       0.51           0.0

[75 rows x 2 columns]

In [32]:
msft.dividends

Date
2003-02-19    0.08
2003-10-15    0.16
2004-08-23    0.08
2004-11-15    3.08
2005-02-15    0.08
              ...
2019-05-15    0.46
2019-08-14    0.46
2019-11-20    0.51
2020-02-19    0.51
2020-05-20    0.51
Name: Dividends, Length: 66, dtype: float64

In [33]:
msft.splits

Date
1987-09-21    2.0
1990-04-16    2.0
1991-06-27    1.5
1992-06-15    1.5
1994-05-23    2.0
1996-12-09    2.0
1998-02-23    2.0
1999-03-29    2.0
2003-02-18    2.0
Name: Stock Splits, dtype: float64

In [44]:
msft.financials

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [36]:
msft.quarterly_financials

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [37]:
msft.balance_sheet

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [42]:
msft.quarterly_cashflow

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []